/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #c8ff00;
    color: #222;
    background-image: url(imagenes/escudo\ de\ boca.jpg);
    background-size: cover;
  /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
}

/* Encabezado */
header {
    background-color: #002244;
    color: #ffcc00;
    padding: 20px;
    text-align: center;
    border: solid; border-color: black;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 25px;
    max-width: 800px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: solid;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #002244;
    margin-top: 30px;
    border: solid; border-color: black;
}

.color{
    color: #ffcc00;
}

img {
  max-width: 100%; /* La imagen nunca será más ancha que su contenedor */
  height: auto;    /* Mantiene la proporción de la imagen */
}

/* Estilos por defecto para pantallas grandes (PC) */
.columna {
  width: 30%;
  float: left;
}

/* Estilos aplicados solo para pantallas pequeñas (móviles) de 600px o menos */
@media screen and (max-width: 600px) {
  .columna {
    width: 100%; /* Las columnas ocupan todo el ancho, apilándose */
    float: none;
  }
}